@import "./../../assets/constants.css";

@import "./../../assets/constants.css";

.hide-pass{
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: white;
}

.field-container {
    position: relative;
    display: flex;
    /*
    flex-direction: column;
    align-items: flex-end;

     */
    width: 100%;
}

.input-toggle-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: white;
}

.change-password-error {
    align-self: flex-end;
}




